/* @font-face {
  font-family: 'jfOpen';
  src: url('../font/jfOpen.woff') format("woff"),
    url('../font/jfOpen.ttf') format("truetype"),
    url('../font/jfOpen.otf') format("embedded-opentype");
} */

html body{
	font-family: 'Noto Sans TC', 'Noto Sans SC' ,sans-serif;
	position: relative;
	min-height: 100vh;
	background-color: white;
	margin: 0px;
	padding: 0px;
	color: #000;
	border: 0px;
	overflow-x: hidden;
	font-size: 18px;
}

a:hover {
	opacity: 0.8;
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track{
	-webkit-border-radius: 10px;
	border-radius: 10px;
	margin:5px 0 5px 0;
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-color: white;
}

a {
	text-decoration: none;
	color: black;
	cursor: pointer;
}

a:hover {
	opacity: 0.8;
}

h1 {
	font-size: 60px;
}

h3 {
	font-size: 30px;
	margin: 0px;
}

h4 {
	font-size: 24px;
	margin: 0px;
	font-weight: 400;
}

img {
	color: transparent;
}

img:not([src]) {
	visibility: hidden;
}

input {
	font-size: 18px;
}

input:focus {
	outline: none;
}

select {
	font-size: 18px;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	cursor: pointer;
}

select:focus {
	outline: none;
}

option {
	font-size: 18px;
	border: 0px;
	outline: 0px;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	background: #fff;
}

textarea {
	font-size: 18px;
}

textarea:focus {
	outline: none;
}

button {
	font-size: 18px;
	cursor: pointer;
}

button:hover {
	opacity: 0.8;
}

/* header */

.header-box {
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 30px;
	background-color: white;
}

.header-left-box {
	display: flex;
	align-items: center;
}

.header-logo {
	background-color: #F6F3EC;
	margin-right: 4px;
	cursor: pointer;
}

.header-logo-icon {
	height: 55px;
}

.header-text {
	margin-left: 32px;
}

.header-text1 {
	position: relative;
	margin-left: 32px;
	z-index: 2;
	cursor: pointer;
}

.header-text1:hover {
	opacity: 0.8;
}

.header-submenu {
	display: none;
	position: absolute;
	left: -32px;
    top: 22px;
	width: 54px;
	padding: 16px 24px 4px;
	background-color: #FAF9F2;
	z-index: 2;
}

.header-submenu-text {
	margin-bottom: 12px;
}

.header-right-box {
	display: flex;
	align-items: center;
}

.header-input {
	width: 150px;
	font-size: 14px;
	padding: 4px;
	border: 0px;
	border-bottom: 1px solid #DCD9D2;
}

.header-search-icon {
	width: 22px;
	height: auto;
	margin-left: 5px;
	cursor: pointer;
}

.header-search-icon:hover {
	opacity: 0.8;
}

/* rwd header */

.header-rwd-box {
	display: none;
}

/* footer */

.footer-main {
	color: white;
	font-size: 14px;
	background-color: rgba(95, 84,66, 0.7);
}

.footer-box {
	max-width: 964px;
	width: 100%;
	display: flex;
    justify-content: space-between;
	margin: 0px auto;
	padding: 35px 0px;
}

.footer-column {
	display: flex;
	flex-direction: column;
}

.footer-column-school {
	transform: translateX(-64px);
}

.footer-link {
	color: white;
	margin-bottom: 8px;
}

.footer-link:last-child {
	margin-bottom: 0px;
}

.footer-row {

}

.footer-img {
	width: 49px;
    height: auto;
	margin-left: 20px;
	cursor: pointer;
}

.footer-img:hover {
	opacity: 0.8;
}

.footer-copyright {
	height: 57px;
	background-color: white;
	line-height: 57px;
	text-align: center;
}


@media( max-width: 1023px ){

	html body{
		font-size: 14px;
	}

	a {

	}
	
	h1 {
		font-size: 40px;
	}
	
	h3 {

	}
	
	h4 {

	}
	
	img {

	}
	
	img:not([src]) {

	}
	
	/* header */

	.header-box {
		display: none;
	}

	/* rwd header */

	.header-rwd-box {
		position: relative;
		height: 44px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 28px 30px;
	}

	.header-rwd-menu {
		display: none;
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100vw;
		height: 100vh;
		background-color: white;
		z-index: 2;
	}

	.header-rwd-menu-top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 28px 30px;
	}

	.header-logo-icon {
		height: 44px;
	}

	.header-text {
		font-size: 18px;
		margin-bottom: 24px;
	}

	.header-text1 {
		font-size: 18px;
		margin-bottom: 24px;
	}

	.header-submenu {
		position: initial;
		display: none;
		width: 100%;
		margin-top: 12px;
		padding: 16px 0px 4px 31px;
		transform: translateX(-33px);
	}

	.header-input {
		width: 210px;
		margin-left: 32px;
		font-size: 18px;
	}

	.header-search-icon {
		width: 24px;
		transform: translateY(5px);
	}

	/* footer */

	.footer-main {

	}

	.footer-box {
		max-width: auto;
		width: auto;
		flex-direction: column;
    	padding: 35px 58px 64px;
	}
	
	.footer-column {
		margin-bottom: 24px;
	}

	.footer-column-school {
		transform: none
	}
	
	.footer-link {
		margin-bottom: 12px;
	}
	
	.footer-row {
	
	}
	
	.footer-img {
		margin: 0px 20px 0px 0px;
	}

	.footer-copyright {
		
	}

}
