html body {
    background-color: rgb(246, 243, 236);
}

.school-title-box {
    width: 100%;
    height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E8E0CC;
    background-image: url('../img/icon/elementory-icon.png');
    background-size: cover;
}

/* junior */

.school-title-box-junior {
    background-image: url('../img/icon/junior-icon.png');
}

/* senior */

.school-title-box-senior {
    background-image: url('../img/icon/senior-icon.png');
}

/*  */

.school-left-line {
    position: relative;
    height: 1px;
    width: 76px;
    background-color: #C0B263;
}

.school-left-line::after {
    content: '';
    position: absolute;
    right: 0px;
    bottom: -4px;
    width: 9px;
    height: 9px;
    background-color: #C0B263;
    transform: rotate(45deg);
}

.school-title {
    margin: 0px 24px;
    font-size: 32px;
    font-weight: 500;
}

.school-right-line {
    position: relative;
    height: 1px;
    width: 76px;
    background-color: #C0B263;
}

.school-right-line::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -4px;
    width: 9px;
    height: 9px;
    background-color: #C0B263;
    transform: rotate(45deg);
}

.school-main-box {
    max-width: 964px;
    width: 100%;
    margin: 32px auto 0px;
}

.school-desc-box {
    display: flex;
    align-items: center;
}

.school-desc {
    color: #A1A1A1;
    cursor: pointer;
}

.school-desc:hover {
    opacity: 0.8;
}

.school-desc-icon {
    color: #A1A1A1;
    margin: 4px 12px 0px;
}

.school-content-outer-box {
    max-width: 964px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 32px auto 0px;
}

.school-content-box {
    width: 300px;
    height: 100%;
    padding-bottom: 15px;
    margin-bottom: 32px;
    background: #FFFFFF;
    filter: drop-shadow(0px 4px 12px rgba(122, 117, 79, 0.12));
    cursor: pointer;
}

.school-content-box:hover {
	filter: drop-shadow(0px 4px 24px rgba(122, 117, 79, 0.32));
}

.school-content-img {
    width: 100%;
    height: auto;
}

.school-content-inner-box {
    padding: 12px;
}

.school-content-title {
    margin-top: 13px;
    font-size: 24px;
}

.school-content-text {
    margin-top: 16px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.school-content-desc {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 14px;
    color: #A2A2A2;
}

/* 頁碼 */

.school-page {
    max-width: 964px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0px auto 64px;
}

.school-page-left {
    display: flex;
    color: #C0B263;
}

.school-page-prev {
    margin-right: 24px;
    cursor: pointer;
}

.school-page-prev:hover {
    opacity: 0.8;
}

.school-page-num {
    margin-right: 24px;
    cursor: pointer;
}

.school-page-next {
    cursor: pointer;
}

.school-page-select {
    color: #5F5442;
    text-decoration: underline;
}

.school-page-num:hover {
    opacity: 0.8;
}



@media( max-width: 1023px ){

    .school-title-box {
        
    }
    
    /* junior */
    
    .school-title-box-junior {
        
    }
    
    /* senior */
    
    .school-title-box-senior {
        
    }
    
    /*  */
    
    .school-left-line {
        
    }
    
    .school-left-line::after {
        
    }
    
    .school-title {
        
    }
    
    .school-right-line {
        
    }
    
    .school-right-line::after {
        
    }
    
    .school-main-box {
        margin: 24px auto 0px;
    }
    
    .school-desc-box {
        padding-left: 30px;
        font-size: 18px;
    }
    
    .school-desc {
        
    }
    
    .school-desc-icon {
        
    }
    
    .school-content-outer-box {
        flex-direction: column;
        margin: 32px auto 9px;
    }
    
    .school-content-box {
        margin: 0px auto 23px;
    }
    
    .school-content-img {
        
    }
    
    .school-content-inner-box {
        
    }
    
    .school-content-title {
        
    }
    
    .school-content-text {
        
    }
    
    .school-content-desc {
        
    }
    
    /* 頁碼 */
    
    .school-page {
        flex-direction: column;
        margin: 0px auto 54px;
        font-size: 18px;
    }
    
    .school-page-left {
        margin: auto;
    }
    
    .school-page-prev {
        
    }
    
    .school-page-num {

    }

    .school-page-right {
        margin: 16px auto 0px;
    }


}